@import "../../assets/styles/mixins.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 18px;
  flex: 1;
  max-width: 800px;
}

.button {
  @include button;
  width: fit-content;
  border-radius: 15px 15px 0 0;
  align-self: flex-end;
  background: var(--background-color);
  color: var(--text-color);

  &:hover {
    background-color: var(--red-color);
  }
}

.pokemon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  border-radius: 15px 0 15px 15px;

  &__wrapper {
    display: flex;
    justify-content: center;
  }
}

.image {
  padding: 10px;
  background: var(--background-color);
  display: flex;
  justify-content: center;
  transition: all var(--transition-duration);
}

.information {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 1rem;
  font-size: 1.4rem;
  transition: all var(--transition-duration);

  &__name {
    > h2 {
      font-size: 3rem;
    }
  }
}

.detailInfo {
  > div {
    &:first-child {
      margin-top: 10px;
    }
    font-weight: 600;
  }
}

.notFound {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
