.wrapper {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  background: var(--background-color);
  width: fit-content;
  border-radius: 15px 5px 15px 5px;
  overflow: hidden;
  font-size: 1.4rem;
  transition: all var(--transition-duration);

  &__button {
    width: 40px;
    max-width: 100%;
    font-size: inherit;
    cursor: pointer;
    background: none;
    border: none;
    transition: all 0.3s;
    color: var(--text-color);

    &:not(:disabled):hover {
      background: var(--hover-color);
    }
  }

  &__input {
    border-radius: 0;
    max-width: 100px;
  }
}
