.card {
  width: 100%;
  cursor: pointer;
  padding: 16px;
  text-align: center;
  background: var(--background-color);
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 15px 5px 15px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--transition-duration);

  &:hover {
    animation: float 1s infinite;
    box-shadow: var(--box-shadow);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}
