@import "../../../assets/styles/mixins";

.buggy {
  @include button;
  transform: skewY(0);
  color: var(--text-color);
  background: var(--background-color);

  &:hover {
    transform: skewY(10deg);
    filter: invert(1);
  }
}
