@import "reset-css";
@import "@/assets/styles/reset.css";
@import "@/assets/styles/vars.css";

#root {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
}