.line {
  width: 100%;
  height: 12px;
  display: flex;
  padding: 2px;
  gap: 4px;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
}

.pipe {
  width: calc(100% / 4 - 3px);
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 3px;
}
